body {
	background-image: url("../images/background.png");
}
a {
	text-decoration: none;
}
a:hover {
    color: #005580;
    text-decoration: none;
}
.logo {
	position: relative;
	float: left;
    background: #104571;
    line-height: 50px;
    padding: 0px 0px;
    width: 210px;
    text-align: center;
}
#wraper {
	position: relative;
	max-width: 1200px;
    margin: 0 auto;
}
.finder {
	position: relative;
    margin: 0px;
    text-align: right;
}
input.search-query {
	position: relative;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 91.7%;
}
input[type=text],input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
 
input[type=text]:focus,input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 6px rgba(81, 203, 238, 1);
}
input[type=search] {
	position: relative;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; /* remove the search and cancel icon */
}
/* search input field */
input[type=search] {
    color: #000;
	position: relative;
    background: #ededed url(../images/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 3px 10px 3px 32px;
    width: 150px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
	position: relative;
    width: 180px;
    background-color: #fff;
    border-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
/* placeholder */
input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
.dropdown-menu>li{
	overflow: hidden;
}
.navbar-nav>li>.dropdown-menu::after {
	position: relative;
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    border-width: 0 11px 10px;
    margin-left: -60px;
    border-color: transparent transparent #607D8B transparent;
    border-style: solid;
}
.col-md-9 {
	border: 1px solid #ccc;
}
.col-md-3 {
	border: 1px solid #1E5684;
}
.row {
	position: relative;
    margin-right: 0px!important;
    margin-left: 0px!important;
}
h3.social-title {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    position: relative;
    line-height: 100%;
    margin-top: 5px;
}
h3.social-title > span {
	color: #FFF;
    position: relative;
    z-index: 12;
    display: inline-block;
    background: #083356;
    top: -2px;
}
div.mod-social {
	position: relative;
    color: #fff;
    background: #083356;
    padding: 12px 0;
    border-bottom: 1px solid #133D5E;
}
h3.social-title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 0;
    width: 100%;
    z-index: 5;
    margin-top: -3px;
   border-bottom: 1px solid #395063;
    border-top: 1px solid #2B5577;
}
h3.social-title > span:after, h3.social-title > span:before {
	position: relative;
    content: "\2022";
    color: #585858;
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
}
ul.social li {
	position: relative;
	border-radius: 16px;
	background-color: #ccc;
    display: inline-block;
    margin: 0 3px;
}
ul.social li:hover {
	position: relative;
	border-radius: 16px;
	background-color: #08A2D5;
    display: inline-block;
    margin: 0 3px;
}
ul.social li a {
	text-decoration: none;
    width: 35px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    display: inline-block;
    position: relative;
    z-index: 2;
}
ul.social li a:before {
	position: relative;
    font-family: 'Socialico';
    content: attr(data-icon);
    speak: none;
    font-size: 26px;
    line-height: 32px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.icy-menu{
	list-style:none;
	margin: 0;
	padding: 0;
}
.icy-menu a {
	color: #C4C6C6;
	position: relative;
	text-decoration: none;
	background: none;
	font-family: arial;
}

.icy-menu a:hover,
.icy-menu a:visited,
.icy-menu a:active,
.icy-menu a:focus{
	color: #F44336;
	background: none;
}
.icy-menu ul {
	margin: 0;
	padding: 0;
}
.icy-menu ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: pointer;
	background: none ;
}
ul.icy-menu>li.list {
	font-size: 133%;
	background: url("../images/bullet-1.png") no-repeat scroll 12px 14px , #0A2338 repeat-x 0 0;
	height: 45px;
    line-height: 44px;
    padding: 0px 35px;
    margin: 0;
    border-bottom: 1px solid #0C3B61;
    border-top: 1px solid #778896;
    position: relative;
}
ul.icy-menu>li.list:hover,ul.icy-menu>li>ul>li>div.icy-dropdown:hover{
	background: url("../images/bullet-1.png") no-repeat scroll 12px -45px , url(../images/vertical.png) repeat-x 0 0;	
}
ul.icy-menu>li>ul>li>.icy-dropdown {
	font-size: 133%;
	background: url("../images/bullet-1.png") no-repeat scroll 12px 14px , #0A2338 repeat-x 0 0;
	height: 45px;
    line-height: 44px;
    padding: 0px 35px;
    margin: 0;
    border-bottom: 1px solid #0C3B61;
    border-top: 1px solid #778896;
    position: relative;
}
ul.icy-menu>li>ul>li>.icy-dropdown:before,ul.icy-menu>li.list:before {
	content: "";
	z-index: 10;
	position: absolute;
	left: 0;
	top:0;
	width:5px;
	height: 100%;
	background: #636363;
}
ul.icy-menu>li:hover:before,ul.icy-menu>li>ul>li>div.icy-dropdown:hover:before{
	background: #FF8400;	
}
ul.icy-menu>li>ul>li>.icy-dropdown:after{
	position: relative;
    content: '\02795';
    font-size: 13px;
    color: #A69D9D;
    float: right;
    margin-left: 5px;
}
ul.icy-menu>li>ul>li>.icy-dropdown.active:after{
	    content: "\2796";
}
ul.icy-menu>li>ul>li>ul {
	position: relative;
	 display: none; 
}
ul.icy-menu>li>ul>li>ul>li {
	position: relative;
	border-bottom: 1px solid #9C8383;
    background: url(../images/li.png) no-repeat 10px 12px;
    background-color: #02121F;
    line-height: 30px;
    height: 30px;
    padding-left: 26px;
}
ul.icy-menu>li>ul>li>ul>li:hover{
	position: relative;
	background: url(../images/li-hover.png) no-repeat 10px 12px;
    background-color: #1B374E;
}
.col-md-pull-9 {
	position: relative;
    background: #0A2338;
   }
.icy-login {
	position: relative;
	position: relative;
	background: #0A2338;
	margin: 0;
    padding: 20px 12px 0;
    background: url(../images/dashed.png) repeat-x left bottom;
 }
 div.icy-login .icon:after {
 	position: relative;
    content: "\f090";
}
 h3.icy-login-title {
 	position: relative;
 	font-family: Archivo Narrow, serif !important;
 	font-size: 150%;
    color: #CCCCCC;
    line-height: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px 0;
 }
 h3.icy-login-title > .icon {
 	position: relative;
    width: 45px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/sprite.png) no-repeat 0 0;
}
h3.icy-login-title > .icon:after {
	position: relative;
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin: 7px 0 0 14px;
    font-size: 20px;
    color: #F5F5F5;
}
.icy-login-content {
	position: relative;
}
.icy-user {
	padding-bottom: 10px;
}
.icy-password {
	padding-bottom: 10px;
}
.icy-addon {
	position: relative;
	margin-left: 0;
    padding: 4px 8px;
    background: #ababab;
    border: none;
    color: #efefef;
    font-size: 18px;
    text-align: center;
    width: 20px;
    border-radius: 3px 0px 0px 3px;
}
.icy-input-login {
	padding: 2px 5px;
    width: 85%;
    font-size: 17.4px;
    border: none;
    border-radius: 0 3px 3px 0;
}
.icy-password>.icy-addon>.fa-lock,.icy-user>.icy-addon>.fa-user {
 	position: relative;
    width: 20px;
    height: 0px;
    line-height: 0px;
    display: inline-block;
    vertical-align: middle;
}
.icy-addon:hover {
    position: relative;
    background:#d96e00;
}
.icy-login-left {
    position: relative;
    width: 63%;
    float: left;
}
.icy-login-left>.icy-brand {
    position: relative;
    font-size: 12px;
    font-family: arial,sans-serif;
    color: #CCC8C8;
}
.icy-login-left>.icy-brand span {
    position: relative;
    color: #CCC8C8;
}
.icy-login-left>ul.icy-create {
    position: relative;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.icy-login-left>ul.icy-create>li {
    position: relative;
    background: url(../images/li.png) no-repeat 2px 7px;
    padding-left: 15px;
    color: #FFFFFF;
}
.icy-login-left>ul.icy-create>li>a {
    position: relative;
    color: #FFF;
}
.icy-login-left>ul.icy-create>li>a:hover {
    position: relative;
    color: #ff8400;
}
.icy-login-right {
    position: relative;
    float: right;
}
.icy-login-right>.icy-btnlogin {
    background: linear-gradient(to bottom, rgba(0,151,201,1) 0%,rgba(18,196,255,1) 100%);
    color: #fff;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 16px;
    padding: 6px 5px 6px 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border: 1px solid #27caff;
}
.icy-login-right>.icy-btnlogin:hover {
    background: linear-gradient(to bottom, #ff8400 0%,#ff921d 100%);
    border: 1px solid #ffad54;
}
.icy-login-right>.icy-btnlogin>.icy-next-login {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/sprite.png) no-repeat -150px -50px;
    margin-left: 5px;
}
.icy-login-right>.icy-btnlogin:hover .icy-next-login {
    background: url(../images/sprite.png) no-repeat -150px -99px;
}
.clear {
    clear: both;
}