a {
	text-decoration: none;
}
a:hover {
    color: #005580;
    text-decoration: none;
}
.logo {
	position: relative;
	float: left;
    background: #104571;
    line-height: 50px;
    padding: 0px 0px;
    width: 210px;
    text-align: center;
}
#wraper {
	position: relative;
	max-width: 1200px;
    margin: 0 auto;
}
.finder {
	position: relative;
    margin: 0px;
    text-align: right;
}
input.search-query {
	position: relative;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 91.7%;
}
input[type=search] {
	position: relative;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; /* remove the search and cancel icon */
}
/* search input field */
input[type=search] {
	position: relative;
    background: #ededed url(images/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 3px 10px 3px 32px;
    width: 150px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
	position: relative;
    width: 180px;
    background-color: #fff;
    border-color: #6dcff6;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
/* placeholder */
input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
.dropdown-menu>li{
	overflow: hidden;
}
.navbar-nav>li>.dropdown-menu::after {
	position: relative;
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    border-width: 0 11px 10px;
    margin-left: -60px;
    border-color: transparent transparent #607D8B transparent;
    border-style: solid;
}
.col-md-9 {
	border: 1px solid #ccc;
}
.col-md-3 {
	border: 1px solid #1E5684;
}
.row {
	position: relative;
    margin-right: 0px!important;
    margin-left: 0px!important;
}
h3.social-title {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    position: relative;
    line-height: 100%;
    margin-top: 5px;
}
h3.social-title > span {
	color: #FFF;
    position: relative;
    z-index: 12;
    display: inline-block;
    background: #083356;
    top: -2px;
}
div.mod-social {
	position: relative;
    color: #fff;
    background: #083356;
    padding: 12px 0;
    border-bottom: 1px solid #133D5E;
}
h3.social-title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 0;
    width: 100%;
    z-index: 5;
    margin-top: -3px;
   border-bottom: 1px solid #395063;
    border-top: 1px solid #2B5577;
}
h3.social-title > span:after, h3.social-title > span:before {
	position: relative;
    content: "\2022";
    color: #585858;
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
}
ul.social li {
	position: relative;
	border-radius: 16px;
	background-color: #ccc;
    display: inline-block;
    margin: 0 3px;
}
ul.social li:hover {
	position: relative;
	border-radius: 16px;
	background-color: #08A2D5;
    display: inline-block;
    margin: 0 3px;
}
ul.social li a {
	text-decoration: none;
    width: 35px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    display: inline-block;
    position: relative;
    z-index: 2;
}
ul.social li a:before {
	position: relative;
    font-family: 'Socialico';
    content: attr(data-icon);
    speak: none;
    font-size: 26px;
    line-height: 32px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.icy-menu{
	list-style:none;
	margin: 0;
	padding: 0;
}
.icy-menu a {
	position: relative;
	text-decoration: none;
	background: none;
	font-family: arial;
}

.icy-menu a:hover,
.icy-menu a:visited,
.icy-menu a:active,
.icy-menu a:focus{
	background: none;
}
.icy-menu ul {
	margin: 0;
	padding: 0;
}
.icy-menu ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: pointer;
	background: none ;
}
ul.icy-menu>li {
	font-size: 133%;
	background: url("../images/bullet-1.png") no-repeat scroll 12px 14px , #0A2338 repeat-x 0 0;
	height: 45px;
    line-height: 44px;
    padding: 0px 35px;
    margin: 0;
        border-bottom: 1px solid #0C3B61;
    border-top: 1px solid #0A2338;
    position: relative;
}
ul.icy-menu>li:hover,ul.icy-menu>ul>li>div.icy-dropdown:hover{
	background: url("../images/bullet-1.png") no-repeat scroll 12px -45px , url(../images/vertical.png) repeat-x 0 0;	
}
ul.icy-menu>ul>li>.icy-dropdown {
	font-size: 133%;
	background: url("../images/bullet-1.png") no-repeat scroll 12px 14px , #0A2338 repeat-x 0 0;
	height: 45px;
    line-height: 44px;
    padding: 0px 35px;
    margin: 0;
        border-bottom: 1px solid #0C3B61;
    border-top: 1px solid #0A2338;
    position: relative;
}
ul.icy-menu>ul>li>.icy-dropdown:before,ul.icy-menu>li:before {
	content: "";
	z-index: 10;
	position: absolute;
	left: 0;
	top:0;
	width:5px;
	height: 100%;
	background: #636363;
}
ul.icy-menu>li:hover:before,ul.icy-menu>ul>li>div.icy-dropdown:hover:before{
	background: #FF8400;	
}
ul.icy-menu>ul>li>.icy-dropdown:after{
    content: '\02795';
    font-size: 13px;
    color: #A69D9D;
    float: right;
    margin-left: 5px;
}
ul.icy-menu>ul>li>.icy-dropdown.active:after{
	    content: "\2796";
}
ul.icy-menu>ul>li>ul {
	 display: none; 
}
ul.icy-menu>ul>li>ul>li {
	border-bottom: 1px solid #9C8383;
    background: url(../images/li.png) no-repeat 10px 12px;
    background-color: #02121F;
    line-height: 30px;
    height: 30px;
    padding-left: 26px;
}
ul.icy-menu>ul>li>ul>li:hover{
	background: url(../images/li-hover.png) no-repeat 10px 12px;
    background-color: #1B374E;
}